<!-- modal add new account start-->
            <div id="modalAddNewAccount">
                <section role="dialog" tabindex="-1" class="slds-modal">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeModal('#modalAddNewAccount');">
                                <span class="slds-button__icon">
                                    <i class="fa fa-times text-size-21"></i>
                                </span>
                            </button>
                            <h2  class="slds-text-heading_medium slds-hyphenate">Add New Clients/Accounts</h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium">
                            <div>
                                <div class="slds-form-element slds-m-bottom_medium" reset='errorclass'>
                                    <label class="slds-form-element__label">
                                        Clients/Accounts Title
                                        <abbr class="slds-required" title="required">*</abbr>
                                    </label>
                                    <div class="slds-form-element__control">
                                        <input type="text" id="name" class="slds-input" placeholder="" required="" reset='value' />
                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>

                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="slds-form-element slds-m-bottom_medium">
                                            <label class="slds-form-element__label">
                                                <abbr class="slds-required" title="required">*</abbr>
                                                Currency
                                            </label>
                                            <div class="slds-form-element__control">
                                                <div class="slds-select_container">
                                                    <select class="slds-select"  required="">
                                                        <option value=""> </option>
                                                        <option value="AFN">AFN - Afghan Afghani</option>
                                                        <option value="ALL">ALL - Albanian Lek</option>
                                                        <option value="AMD">AMD - Armenian Dram</option>
                                                        <option value="ANG">ANG - Netherlands Antillean Guilder</option>
                                                        <option value="AOA">AOA - Angolan Kwanza</option>
                                                        <option value="ARS">ARS - Argentine Peso</option>
                                                        <option value="AUD">AUD - Australian Dollar</option>
                                                        <option value="AWG">AWG - Aruban Florin</option>
                                                        <option value="AZN">AZN - Azerbaijani Manat</option>
                                                        <option value="BAM">BAM - Bosnia And Herzegovina Convertible Mark</option>
                                                        <option value="BBD">BBD - Barbados Dollar</option>
                                                        <option value="BDT">BDT - Bangladeshi Taka</option>
                                                        <option value="BGN">BGN - Bulgarian Lev</option>
                                                        <option value="BHD">BHD - Bahraini Dinar</option>
                                                        <option value="BIF">BIF - Burundian Franc</option>
                                                        <option value="BMD">BMD - Bermudian Dollar</option>
                                                        <option value="BND">BND - Brunei Dollar</option>
                                                        <option value="BOB">BOB - Boliviano</option>
                                                        <option value="BRL">BRL - Brazilian Real</option>
                                                        <option value="BSD">BSD - Bahamian Dollar</option>
                                                        <option value="BTC">BTC - Bitcoin</option>
                                                        <option value="BTN">BTN - Bhutanese Ngultrum</option>
                                                        <option value="BWP">BWP - Botswana Pula</option>
                                                        <option value="BYR">BYR - Belarusian Ruble</option>
                                                        <option value="BZD">BZD - Belize Dollar</option>
                                                        <option value="CAD">CAD - Canadian Dollar</option>
                                                        <option value="CDF">CDF - Congolese Franc</option>
                                                        <option value="CHF">CHF - Swiss Franc</option>
                                                        <option value="CLP">CLP - Chilean Peso</option>
                                                        <option value="CNY">CNY - Chinese Yuan</option>
                                                        <option value="COP">COP - Colombian Peso</option>
                                                        <option value="CRC">CRC - Costa Rican Colon</option>
                                                        <option value="CUC">CUC - Cuban Convertible Peso</option>
                                                        <option value="CUP">CUP - Cuban Peso</option>
                                                        <option value="CVE">CVE - Cape Verde Escudo</option>
                                                        <option value="CZK">CZK - Czech Koruna</option>
                                                        <option value="DJF">DJF - Djiboutian Franc</option>
                                                        <option value="DKK">DKK - Danish Krone</option>
                                                        <option value="DOP">DOP - Dominican Peso</option>
                                                        <option value="DZD">DZD - Algerian Dinar</option>
                                                        <option value="EGP">EGP - Egyptian Pound</option>
                                                        <option value="ERN">ERN - Eritrean Nakfa</option>
                                                        <option value="ETB">ETB - Ethiopian Birr</option>
                                                        <option value="EUR">EUR - Euro</option>
                                                        <option value="FJD">FJD - Fiji Dollar</option>
                                                        <option value="FKP">FKP - Falkland Islands Pound</option>
                                                        <option value="GBP">GBP - Pound Sterling</option>
                                                        <option value="GEL">GEL - Georgian Lari</option>
                                                        <option value="GGP">GGP - Guernsey Pound</option>
                                                        <option value="GHS">GHS - Ghanaian Cedi</option>
                                                        <option value="GIP">GIP - Gibraltar Pound</option>
                                                        <option value="GMD">GMD - Gambian Dalasi</option>
                                                        <option value="GNF">GNF - Guinean Franc</option>
                                                        <option value="GTQ">GTQ - Guatemalan Quetzal</option>
                                                        <option value="GYD">GYD - Guyanese Dollar</option>
                                                        <option value="HKD">HKD - Hong Kong Dollar</option>
                                                        <option value="HNL">HNL - Honduran Lempira</option>
                                                        <option value="HRK">HRK - Croatian Kuna</option>
                                                        <option value="HTG">HTG - Haitian Gourde</option>
                                                        <option value="HUF">HUF - Hungarian Forint</option>
                                                        <option value="IDR">IDR - Indonesian Rupiah</option>
                                                        <option value="ILS">ILS - Israeli New Shekel</option>
                                                        <option value="IMP">IMP - Isle of Man Pound</option>
                                                        <option selected="selected" value="INR">INR - Indian Rupee</option>
                                                        <option value="IQD">IQD - Iraqi Dinar</option>
                                                        <option value="IRR">IRR - Iranian Rial</option>
                                                        <option value="ISK">ISK - Icelandic Króna</option>
                                                        <option value="JEP">JEP - Jersey Pound</option>
                                                        <option value="JMD">JMD - Jamaican Dollar</option>
                                                        <option value="JOD">JOD - Jordanian Dinar</option>
                                                        <option value="JPY">JPY - Japanese Yen</option>
                                                        <option value="KES">KES - Kenyan Shilling</option>
                                                        <option value="KGS">KGS - Kyrgyzstani Som</option>
                                                        <option value="KHR">KHR - Cambodian Riel</option>
                                                        <option value="KMF">KMF - Comoro Franc</option>
                                                        <option value="KPW">KPW - North Korean Won</option>
                                                        <option value="KRW">KRW - South Korean Won</option>
                                                        <option value="KWD">KWD - Kuwaiti Dinar</option>
                                                        <option value="KYD">KYD - Cayman Islands Dollar</option>
                                                        <option value="KZT">KZT - Kazakhstani Tenge</option>
                                                        <option value="LAK">LAK - Lao Kip</option>
                                                        <option value="LBP">LBP - Lebanese Pound</option>
                                                        <option value="LKR">LKR - Sri Lankan Rupee</option>
                                                        <option value="LRD">LRD - Liberian Dollar</option>
                                                        <option value="LSL">LSL - Lesotho Loti</option>
                                                        <option value="LTL">LTL - Lithuania Litas</option>
                                                        <option value="LVL">LVL - Latvia Lat</option>
                                                        <option value="LYD">LYD - Libyan Dinar</option>
                                                        <option value="MAD">MAD - Moroccan Dirham</option>
                                                        <option value="MDL">MDL - Moldovan Leu</option>
                                                        <option value="MGA">MGA - Malagasy Ariary</option>
                                                        <option value="MKD">MKD - Macedonian Denar</option>
                                                        <option value="MMK">MMK - Myanmar Kyat</option>
                                                        <option value="MNT">MNT - Mongolian Tugrik</option>
                                                        <option value="MOP">MOP - Macanese Pataca</option>
                                                        <option value="MRO">MRO - Mauritanian Ouguiya</option>
                                                        <option value="MUR">MUR - Mauritian Rupee</option>
                                                        <option value="MVR">MVR - Maldivian Rufiyaa</option>
                                                        <option value="MWK">MWK - Malawian Kwacha</option>
                                                        <option value="MXN">MXN - Mexican Peso</option>
                                                        <option value="MYR">MYR - Malaysian Ringgit</option>
                                                        <option value="MZN">MZN - Mozambican Metical</option>
                                                        <option value="NAD">NAD - Namibian Dollar</option>
                                                        <option value="NGN">NGN - Nigerian Naira</option>
                                                        <option value="NIO">NIO - Nicaraguan Córdoba</option>
                                                        <option value="NOK">NOK - Norwegian Krone</option>
                                                        <option value="NPR">NPR - Nepalese Rupee</option>
                                                        <option value="NZD">NZD - New Zealand Dollar</option>
                                                        <option value="OMR">OMR - Omani Rial</option>
                                                        <option value="PAB">PAB - Panamanian Balboa</option>
                                                        <option value="PEN">PEN - Peruvian Nuevo Sol</option>
                                                        <option value="PGK">PGK - Papua New Guinean Kina</option>
                                                        <option value="PHP">PHP - Philippine Peso</option>
                                                        <option value="PKR">PKR - Pakistani Rupee</option>
                                                        <option value="PLN">PLN - Polish Zloty</option>
                                                        <option value="PYG">PYG - Paraguayan Guaraní</option>
                                                        <option value="QAR">QAR - Qatari Riyal</option>
                                                        <option value="RON">RON - Romanian New Leu</option>
                                                        <option value="RSD">RSD - Serbian Dinar</option>
                                                        <option value="RUB">RUB - Russian Ruble</option>
                                                        <option value="RWF">RWF - Rwandan Franc</option>
                                                        <option value="SAR">SAR - Saudi Riyal</option>
                                                        <option value="SBD">SBD - Solomon Islands Dollar</option>
                                                        <option value="SCR">SCR - Seychelles Rupee</option>
                                                        <option value="SDG">SDG - Sudanese Pound</option>
                                                        <option value="SEK">SEK - Swedish Krona/Kronor</option>
                                                        <option value="SGD">SGD - Singapore Dollar</option>
                                                        <option value="SHP">SHP - Saint Helena Pound</option>
                                                        <option value="SLL">SLL - Sierra Leonean Leone</option>
                                                        <option value="SOS">SOS - Somali Shilling</option>
                                                        <option value="SPL">SPL - * Seborga Luigino</option>
                                                        <option value="SRD">SRD - Surinamese Dollar</option>
                                                        <option value="STD">STD - São Tomé And Príncipe Dobra</option>
                                                        <option value="SVC">SVC - El Salvador Colon</option>
                                                        <option value="SYP">SYP - Syrian Pound</option>
                                                        <option value="SZL">SZL - Swazi Lilangeni</option>
                                                        <option value="THB">THB - Thai Baht</option>
                                                        <option value="TJS">TJS - Tajikistani Somoni</option>
                                                        <option value="TMT">TMT - Turkmenistani Manat</option>
                                                        <option value="TND">TND - Tunisian Dinar</option>
                                                        <option value="TOP">TOP - Tongan Pa?anga</option>
                                                        <option value="TRY">TRY - Turkish Lira</option>
                                                        <option value="TTD">TTD - Trinidad And Tobago Dollar</option>
                                                        <option value="TVD">TVD - Tuvalu Dollar</option>
                                                        <option value="TWD">TWD - New Taiwan Dollar</option>
                                                        <option value="TZS">TZS - Tanzanian Shilling</option>
                                                        <option value="UAH">UAH - Ukrainian Hryvnia</option>
                                                        <option value="UGX">UGX - Ugandan Shilling</option>
                                                        <option value="USD">USD - United States Dollar</option>
                                                        <option value="UYU">UYU - Uruguayan Peso</option>
                                                        <option value="UZS">UZS - Uzbekistan Som</option>
                                                        <option value="VEF">VEF - Venezuelan Bolívar</option>
                                                        <option value="VND">VND - Vietnamese Dong</option>
                                                        <option value="VUV">VUV - Vanuatu Vatu</option>
                                                        <option value="WST">WST - Samoan Tala</option>
                                                        <option value="XCD">XCD - East Caribbean Dollar</option>
                                                        <option value="XOF">XOF - Cfa Franc Bceao</option>
                                                        <option value="XPF">XPF - Cfp Franc (Franc Pacifique)</option>
                                                        <option value="YER">YER - Yemeni Rial</option>
                                                        <option value="ZAR">ZAR - South African Rand</option>
                                                        <option value="ZMW">ZMW - Zambian Kwacha</option>
                                                        <option value="ZWD">ZWD - Zimbabwe Dollar</option>
                                                    </select>
                                                </div>
                                                <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                </div>
                                            </div>
                                        </div> -->

                                       <!--  <div class="slds-form-element slds-m-bottom_medium">
                                            <label class="slds-form-element__label">
                                                Assign Projects
                                            </label>
                                            <div class="slds-form-element__control">
                                                <div class="slds-select_container">
                                                    <select class="slds-select"  >
                                                        <option value=""> </option>
                                                        <option value="">Option</option>
                                                        <option value="">Option</option>
                                                    </select>
                                                </div>
                                                <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="slds-grid slds-wrap slds-gutters">
                                            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                <div class="slds-form-element slds-m-bottom_medium" reset='errorclass'>
                                                    <label class="slds-form-element__label">
                                                        <!-- <abbr class="slds-required" title="required">*</abbr> -->
                                                        Contact First Name
                                                    </label>
                                                    <div class="slds-form-element__control">
                                                        <input type="text" class="slds-input" placeholder="" required="" id="first_name" reset='value'>
                                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                <div class="slds-form-element slds-m-bottom_medium" reset='errorclass'>
                                                    <label class="slds-form-element__label">
                                                        <!-- <abbr class="slds-required" title="required">*</abbr> -->
                                                        Contact Last Name
                                                    </label>
                                                    <div class="slds-form-element__control">
                                                        <input type="text" id="last_name" class="slds-input" placeholder="" required="" reset='value'>
                                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-grid slds-wrap slds-gutters">
                                            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                <div class="slds-form-element slds-m-bottom_medium" reset='errorclass'>
                                                    <label class="slds-form-element__label">
                                                        Contact Email
                                                        <abbr class="slds-required" title="required">*</abbr>
                                                    </label>
                                                    <div class="slds-form-element__control">
                                                        <input type="email" class="slds-input" placeholder="" required="" id="email" reset='value'>
                                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                    <div class="slds-form-element slds-m-bottom_medium" reset='errorclass'>
                                                        <label class="slds-form-element__label">
                                                            Currency
                                                            <abbr class="slds-required" title="required">*</abbr>
                                                        </label>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-select_container">

                                                                <select class="slds-select" required="" id="currency" name="currency" getFormData reset='default' default-val='USD'>
                                                                  <% currencyWithSymbolArray.forEach(function(currency){ %>
                                                                      <option value="<%= currency.name %>"><%= currency.name %></option>
                                                                  <% }) %>


                                                                </select>
                                                            </div>
                                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- <div class="line-top slds-p-vertical_x-small">
                                            <div class="slds-grid">
                                                <div class="slds-has-flexi-truncate">
                                                    <div>Require Timesheet Approvals</div>
                                                    <div class="text-size-11 text-dull">
                                                        Timesheet Users added to the project will require their timesheets be approved by default.
                                                    </div>
                                                </div>
                                                <div class="slds-col--bump-left slds-p-left_medium">
                                                    <div class="slds-form-element">
                                                        <label class="slds-checkbox_toggle slds-grid">

                                                            <input type="checkbox" name="checkbox-toggle-3" value="checkbox-toggle-3" aria-describedby="checkbox-toggle-3">
                                                            <span id="checkbox-toggle-3" class="slds-checkbox_faux_container" aria-live="assertive">
                                                                <span class="slds-checkbox_faux"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral" onclick="closeModal('#modalAddNewAccount');">Cancel</button>
                            <button class="slds-button slds-button_brand" onclick="addAccount('#modalAddNewAccount')">Add</button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop"></div>
            </div>
          <!-- modal add new account start-->
