<!-- modal change password start -->
<div id="modalChangePassword" modal-div>
    <section role="dialog" tabindex="-1" class="slds-modal">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeModal('#modalChangePassword');">
                    <span class="slds-button__icon">
                        <i class="fa fa-times text-size-21"></i>
                    </span>
                </button>
                <h2  class="slds-text-heading_medium slds-hyphenate">Change Password</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="changePasswordForm">
                <form id="change-password-form">
                    <div>
                        <div class="slds-form-element slds-m-bottom_medium" reset='errorclass'>
                            <label class="slds-form-element__label">
                                Old Password
                                <abbr class="slds-required" title="required">*</abbr>
                            </label>
                            <div class="slds-form-element__control">
                                <input type="password" name="old_password" id="old_password" getFormData='' class="slds-input" placeholder="Please enter old password" required="" reset='value'/>
                                <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>

                                </div>
                            </div>
                        </div>

                        <div class="slds-form-element slds-m-bottom_medium" reset='errorclass'>
                            <label class="slds-form-element__label">
                                New Password
                                <abbr class="slds-required" title="required">*</abbr>
                            </label>
                            <div class="slds-form-element__control">
                                <input type="password" name="new_password" id="new_password" getFormData='' class="slds-input" placeholder="Please enter new password" required="" reset='value'/>
                                <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>

                                </div>
                            </div>
                        </div>

                        <div class="slds-form-element slds-m-bottom_medium" reset='errorclass'>
                            <label class="slds-form-element__label">
                                Confirm New Password
                                <abbr class="slds-required" title="required">*</abbr>
                            </label>
                            <div class="slds-form-element__control">
                                <input type="password" name="confirm_password" id="confirm_password" getFormData='' class="slds-input" placeholder="Please confirm new password" required="" reset='value'/>
                                <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>

                                </div>
                            </div>
                        </div>



                    </div>
                </form>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick="closeModal('#modalChangePassword');">Cancel</button>
                <button class="slds-button slds-button_brand" onclick="updateUserPassword('#modalChangePassword', '#change-password-form')">Update Password</button>

            </footer>
        </div>
    </section>
    <div class="slds-backdrop"></div>
</div>
<!-- modal change password ends-->
