<div id="modalAddPaymentDetail">
    <section role="dialog" tabindex="-1" class="slds-modal">
      <!-- modal add invoice Expenses start-->
              <div class="slds-modal__container">
                  <header class="slds-modal__header">
                      <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeModal('#modalAddPaymentDetail');">
                          <span class="slds-button__icon">
                              <i class="fa fa-times text-size-21"></i>
                          </span>
                      </button>
                      <h2  class="slds-text-heading_medium slds-hyphenate">Add Expenses</h2>
                  </header>
                  <div class="slds-modal__content slds-p-around_medium" modal-body>
                      <!-- <div> -->
                        <form id="paymentDetail">

                          <div class="form-row" >
                            <label for="card-element">
                              Credit or debit card
                            </label>
                            <div id="card-element">
                              <!-- a Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display form errors -->
                            <div id="card-errors" role="alert"></div>
                          </div>
                          <div class="text-right tpd-15">
                            <!-- <button>Submit Payment</button> -->
                            <input type="button" value="Submit Payment" onclick="checkPaymentAndAdd()">
                          </div>
                        </form>


                      <!-- </div> -->
                  </div>
                  <!-- <footer class="slds-modal__footer">
                      <button class="slds-button slds-button_neutral" onclick="closeModal('#modalAddInvoiceExpenses');">Cancel</button>
                      <button class="slds-button slds-button_brand" onclick="addExpInvoiceItem('#modalAddInvoiceExpenses')">Add</button>
                  </footer> -->
              </div>
          </section>
          <div class="slds-backdrop"></div>
      </div>
      <!-- modal add card detail end-->
