<!-- modal add new organization start-->
<div id="modalAddNewOrg">
    <section role="dialog" tabindex="-1" class="slds-modal">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeModal('#modalAddNewOrg');">
                    <span class="slds-button__icon">
                        <i class="fa fa-times text-size-21"></i>
                    </span>
                </button>
                <h2  class="slds-text-heading_medium slds-hyphenate">Add New Organization</h2>
            </header>

            <div class="slds-modal__content slds-p-around_medium" id="addCompanyForm">
                <div>
                    <div class="slds-form-element slds-m-bottom_medium">
                        <label class="slds-form-element__label">
                            Organization Title
                            <abbr class="slds-required" title="required">*</abbr>
                        </label>
                        <div class="slds-form-element__control">
                            <input type="text" class="slds-input" placeholder="" required="" name="orgName" id="orgName"/>
                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                            </div>
                        </div>
                    </div>
                    <!-- <div class="slds-form-element slds-m-bottom_medium">
                        <label class="slds-form-element__label">
                            <abbr class="slds-required" title="required">*</abbr>
                            Domain name(must be your email domain)
                        </label>
                        <div class="slds-form-element__control">
                            <input type="text" class="slds-input" placeholder="" required="" name="domain" id="domain"/>
                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                            </div>
                        </div>
                    </div> -->
                    <div class="slds-form-element slds-m-bottom_medium">
                            <label class="slds-form-element__label" for="">
                                <span>
                                    Domain Name
                                    <abbr class="slds-required" title="required">*</abbr>
                                 </span>
                                 <!-- <small>
                                     (letters, number and dashes only )
                                 </small> -->
                            </label>
                            <div class="slds-form-element__control slds-input-has-fixed-addon">
                                <input type="text" class="slds-input" id="domain" name="domain" placeholder="" required="">
                                <span class="slds-form-element__addon slds-no-flex">
                                    <strong class="text-size-16">
                                        .krow.com
                                    </strong>
                                </span>
                            </div>
                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                            </div>
                         </div>
                    <div class="slds-grid slds-wrap slds-gutters">
                        <!-- <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                            <div class="slds-form-element slds-m-bottom_medium">
                                <label class="slds-form-element__label">
                                    <abbr class="slds-required" title="required">*</abbr>
                                    Admin User Name
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="email" class="slds-input" placeholder="" required="" name="adminUserName" id="adminUserName">
                                    <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12">
                            <div class="slds-form-element slds-m-bottom_medium">
                                <label class="slds-form-element__label">
                                    Email
                                    <abbr class="slds-required" title="required">*</abbr>
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="email" class="slds-input" placeholder="" required="" name="adminEmail" id="adminEmail" email>
                                    <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                            <div class="slds-form-element slds-m-bottom_medium">
                                <label class="slds-form-element__label">
                                    <abbr class="slds-required" title="required">*</abbr>
                                    Password
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="password" class="slds-input" placeholder="" required="" name="adminPass" id="adminPass">
                                    <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="slds-grid slds-wrap slds-gutters">
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                            <div class="slds-form-element slds-m-bottom_medium">
                                <label class="slds-form-element__label">
                                    First Name
                                    <abbr class="slds-required" title="required">*</abbr>
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="text" class="slds-input" required="" getFormData placeholder="" name="adminFirstName" id="firstName" alphabet/>
                                    <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                            <div class="slds-form-element slds-m-bottom_medium">
                                <label class="slds-form-element__label">
                                    <!-- <abbr class="slds-required" title="required">*</abbr> -->
                                    Last Name
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="text" id="lastName" name="adminLastName" class="slds-input" getFormData placeholder="" alphabet>
                                    <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-grid slds-wrap slds-gutters">
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                            <div class="slds-form-element slds-m-bottom_medium">
                              <label class="slds-form-element__label ">
                                  Password
                                  <abbr class="slds-required" title="required">*</abbr>
                              </label>
                              <div class="slds-form-element__control">
                                  <input type="password" getFormData required="" class="slds-input" placeholder="" name="adminPass" id="password" />
                                  <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                            <div class="slds-form-element slds-m-bottom_medium">
                              <label class="slds-form-element__label ">
                                  Confirm Password
                                  <abbr class="slds-required" title="required">*</abbr>
                              </label>
                              <div class="slds-form-element__control">
                                  <input type="password" getFormData required class="slds-input" placeholder="" name="con_password" id="con-password" />
                                  <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick="closeModal('#modalAddNewOrg');">Cancel</button>
                <button class="slds-button slds-button_brand" onclick="addOrganization('#modalAddNewOrg')">Add</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop"></div>
</div>
<!-- modal add new organization start-->
