<div id="modalAddPaymentDetail">
    <section role="dialog" tabindex="-1" class="slds-modal">
      <!-- modal add invoice Expenses start-->
              <div class="slds-modal__container">
                  <header class="slds-modal__header">
                      <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeModal('#modalAddPaymentDetail');">
                          <span class="slds-button__icon">
                              <i class="fa fa-times text-size-21"></i>
                          </span>
                      </button>
                      <h2  class="slds-text-heading_medium slds-hyphenate">Add Card Detail</h2>
                  </header>
                  <div class="slds-modal__content slds-p-around_medium" modal-body>
                      <!-- <div> -->
                        <div>
                          Upgrade to the paid version for $15 USD per month.  Cancel anytime. 
                          <a href="https://freepsa.zendesk.com/hc/en-us/articles/360033661794-Upgrading-to-Paid-Version" target="_blank">Learn more.</a>
                        </div>
                        <form id="paymentDetail">

                          <div class="form-row" >
                            <label class="slds-form-element__label" for="card-element">
                                  Credit or debit card
                                <abbr class="slds-required" title="required">*</abbr>
                            </label>
                            <!-- <label for="card-element">
                              Credit or debit card
                            </label> -->
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                              <div id="card-element" style="height:5%;">
                                <!-- a Stripe Element will be inserted here. -->
                              </div>
                            </div>

                            <!-- Used to display form errors -->
                            <div id="card-errors" class="slds-text-color_error text-size-12 slds-p-top_xx-small" role="alert"></div>
                          </div>



                      <!-- </div> -->
                  </div>
                  <footer class="slds-modal__footer">
                    <div class="text-right tpd-15" class="">
                      <!-- <button>Submit Payment</button> -->
                      <input type="button" class="slds-button slds-button_neutral" value="Submit Payment" onclick="checkPaymentAndAdd()">
                    </div>
                  </form> 
                      <!-- <button class="slds-button slds-button_neutral" onclick="closeModal('#modalAddInvoiceExpenses');">Cancel</button>
                      <button class="slds-button slds-button_brand" onclick="addExpInvoiceItem('#modalAddInvoiceExpenses')">Add</button> -->
                  </footer>
              </div>
          </section>
          <div class="slds-backdrop"></div>
      </div>
      <!-- modal add card detail end-->
