<div id="modalQuickbookSetting">
    <section role="dialog" tabindex="-1" class="slds-modal">
      <!-- modal quickbook setting start-->
              <div class="slds-modal__container">
                  <header class="slds-modal__header">
                      <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeModal('#modalQuickbookSetting');">
                          <span class="slds-button__icon">
                              <i class="fa fa-times text-size-21"></i>
                          </span>
                      </button>
                      <h2  class="slds-text-heading_medium slds-hyphenate">Integration With Quickbook</h2>
                  </header>

                      <!-- <div> -->
                      <% if(!user.company_info.quickbook_enabled){ %>
                          <form id="connect-to-quickbook" method="get" action="/initiateQuickbook">
                            <!-- <div class="slds-modal__content" modal-body>
                              <div class=" slds-p-around_small">
                                    <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12">
                                        <div class="slds-form-element slds-m-bottom_medium">
                                            <label class="slds-form-element__label" for="client_id" >
                                              Client Id
                                              <abbr class="slds-required" title="required">*</abbr>
                                            </label>
                                            <div class="slds-form-element__control slds-input-has-fixed-addon">
                                                <input type="text" id="client_id" getFormData name="client_id" required="" class="slds-input" reset='value'>
                                            </div>
                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12">
                                        <div class="slds-form-element slds-m-bottom_medium">
                                            <label class="slds-form-element__label" for="client_secret">
                                              Client Secret Key
                                              <abbr class="slds-required" title="required">*</abbr>
                                            </label>
                                            <div class="slds-form-element__control slds-input-has-fixed-addon">
                                                <input type="text" id="client_secret" getFormData name="client_secret" required="" class="slds-input" reset='value'>
                                            </div>
                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12">
                                      <div class="slds-form-element slds-m-bottom_medium" reset='errorclass'>
                                          <label class="slds-form-element__label">
                                              Quickbook Environment
                                              <abbr class="slds-required" title="required">*</abbr>
                                          </label>
                                          <div class="slds-form-element__control">
                                              <div class="slds-select_container">
                                                  <select class="slds-select" id="quickbook_environment" getFormData name="quickbook_environment" required="">
                                                            <option value="Sandbox">Sandbox</option>
                                                            <option value="Production">Production</option>
                                                  </select>
                                              </div>
                                              <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>

                                              </div>
                                          </div>
                                      </div>
                                    </div>
                              </div>
                            </div> -->
                            <footer class="slds-modal__footer">
                                <button class="slds-button slds-button_neutral" onclick="closeModal('#modalQuickbookSetting');">Cancel</button>
                                <button class="slds-button" type="submit">
                                  <img src="/img/connect_quickbook.png" alt=""  width="200">
                                </button>
                            </footer>
                        </form>
                    <% } else { %>
                      <!-- <div class="slds-modal__content" modal-body>
                        <div class=" slds-p-around_small">
                              <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12">
                                  <div class="slds-form-element slds-m-bottom_medium">
                                      <label class="slds-form-element__label" for="client_id" >Webhook URL </label>
                                      <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                                          <input type="text" id="webhook_url" name="webhook_url" class="slds-input" disabled value='<%= user.company_info.quickbook_webhook_url %>'>
                                          <div class="slds-input__icon-group slds-input__icon-group_right">
                                              <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon" title="Copy URL" onclick="copyTextToClipboard();">
                                                  <i class="fa fa-copy"></i>
                                              </button>
                                          </div>
                                      </div>
                                      <div class="text-size-12 slds-p-top_xx-small" id="copiedURL">

                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div> -->
                        <div class="slds-modal__content slds-p-around_medium">
                            <p> The connection with quickbook was done at : <%= (user.company_info.last_integration_time) ? user.company_info.last_integration_time : '' %> </p>
                        </div>
                        <footer class="slds-modal__footer">
                          <button class="slds-button slds-button_neutral" onclick="closeModal('#modalQuickbookSetting');">Cancel</button>
                          <button class="slds-button slds-button_brand" onclick="disconnectIntegration('#modalQuickbookSetting','Quickbook');">Disconnect To Quickbook</button>
                        </footer/>
                    <% } %>
              </div>
          </section>
          <div class="slds-backdrop"></div>
      </div>
      <!-- modal quickbook setting end-->
