<!-- modal add new invoice item start-->        
<div id="modalAddNewInvItem">
    <section role="dialog" tabindex="-1" class="slds-modal">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeModal('#modalAddNewInvItem');">
                    <span class="slds-button__icon">
                        <i class="fa fa-times text-size-21"></i>
                    </span>
                </button>
                <h2  class="slds-text-heading_medium slds-hyphenate">Add New Row Item</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium">
                <div>
                    <div class="slds-form-element slds-m-bottom_small">
                        <label class="slds-form-element__label">
                            Type
                        </label>
                        <div class="slds-form-element__control">
                            <div class="slds-select_container">
                                <select class="slds-select">
                                    <option value="">Timesheet</option>
                                    <option value="">Expense</option>
                                    <option value="">Other</option>
                                </select>
                            </div>
                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                            </div>
                        </div>
                    </div>

                    <div class="slds-form-element slds-m-bottom_small">
                        <label class="slds-form-element__label">
                            Description
                        </label>
                        <div class="slds-form-element__control">
                            <textarea class="slds-textarea"></textarea>
                        </div>
                    </div>
                    <div class="slds-form-element slds-m-bottom_small">
                        <label class="slds-form-element__label">
                            QTY
                        </label>
                        <div class="slds-form-element__control">
                            <input type="text" class="slds-input" placeholder="">
                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                            </div>
                        </div>
                    </div>
                    <div class="slds-form-element slds-m-bottom_small">
                        <label class="slds-form-element__label">
                            Unit Price
                        </label>
                        <div class="slds-form-element__control">
                            <input type="text" class="slds-input" placeholder="">
                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                            </div>
                        </div>
                    </div>
                    <div class="slds-form-element slds-m-bottom_small">
                        <label class="slds-form-element__label">
                            % Discount 
                        </label>
                        <div class="slds-form-element__control">
                            <input type="text" class="slds-input" placeholder="">
                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                            </div>
                        </div>
                    </div>
                    <div class="slds-form-element slds-m-bottom_small">
                        <label class="slds-form-element__label">
                            TAX
                        </label>
                        <div class="slds-form-element__control">
                            <div class="slds-select_container">
                                <select class="slds-select">
                                    <option value="">GST</option>
                                    <option value="">VAT</option>
                                    <option value="">Other</option>
                                </select>
                            </div>
                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick="closeModal('#modalAddNewInvItem');">Cancel</button>
                <button class="slds-button slds-button_brand" onclick="dummyAddItem('#modalAddNewInvItem', 'Item Added Successfully')">Add</button>
            </footer>
        </div>
        
    </section>
    <div class="slds-backdrop"></div>
</div>
<!-- modal add new invoice item end-->   