<!-- views/layouts/head.ejs -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta content="Project Management, Task Management, Professional Services Automation, Salesforce, PSA" name="description">
    <title>PSA | Krow Software</title>
    <!-- STYLESHEETS -->
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <!-- <link href="css/summernote-lite.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/slds/assets/styles/salesforce-lightning-design-system-vf.css">
    <link rel="stylesheet" href="/css/kw-custom.css">
    <style>
    .kw .slds-button_dark-green, .kw .slds-button--dark-green {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        transition: border 0.15s linear;
        background-color: #04844b;
        border: 1px solid #04844b;
        color: white;
    }

    .kw .slds-button_dark-green:active, .kw .slds-button--dark-green:active {
        background-color: #036b3d;
        border-color: #036b3d;
    }

    .kw .slds-button_dark-green:hover, .kw .slds-button_dark-green:focus, .kw .slds-button--dark-green:hover, .kw .slds-button--dark-green:focus {
        background-color: #036b3d;
        border-color: #036b3d;
        color: white;
    }

    .kw .conver-accord-title{
         cursor: pointer;
     }
     .kw .conver-icon-open{
         display: none;
     }
     .kw .conver-accord-content{
         display: none;
     }
     .kw .conver-accord-title.active .conver-icon-close{
         display: none;
     }
     .kw .conver-accord-title.active .conver-icon-open{
         display: block;
     }
     .kw .conver-accord-title.active .conver-accord-content{
         display: block;
     }
    </style>
    <script>
      /*let url = window.location.href.split(':');
      if(url[0] == 'http'){
        url[0] = 'https';
        window.location.href = url.join(':');
      }*/
    </script>

</head>
