<!-- views/layouts/head.ejs -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta content="Project Management, Task Management, Professional Services Automation, Salesforce, PSA" name="description">
    <title>PSA | Krow Software</title>
    <!-- STYLESHEETS -->
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <!-- <link href="css/summernote-lite.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/slds/assets/styles/salesforce-lightning-design-system-vf.css">
    <link rel="stylesheet" href="/css/kw-custom.css">

</head>
