<!-- views/layouts/head.ejs -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta content="Project Management, Task Management, Professional Services Automation, Salesforce, PSA" name="description">
    <title>PSA | Krow Software</title>
    <!-- STYLESHEETS -->
    <!-- <link rel="icon" type="image/png" href="/img/favicon.ico"> -->
    <!-- <link href="/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <!-- <link href="css/summernote-lite.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/slds/assets/styles/salesforce-lightning-design-system-vf.css">
    <link rel="stylesheet" href="/css/kw-custom.css">
    <style>

    .kw .slds-button[disabled] {
        color: #dddbda;
        opacity: .7;
        background: #999;
        border-color: #999;
        cursor: not-allowed;
    }
    .kw .slds-button[disabled]:hover, .kw .slds-button[disabled]:focus {
        color: #dddbda;
        opacity: .7;
        background: #999;
        border-color: #999;
        cursor: not-allowed;
    }
    .kw .slds-button_dark-green, .kw .slds-button--dark-green {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        transition: border 0.15s linear;
        background-color: #04844b;
        border: 1px solid #04844b;
        color: white;
    }

    .kw .slds-button_dark-green:active, .kw .slds-button--dark-green:active {
        background-color: #036b3d;
        border-color: #036b3d;
    }

    .kw .slds-button_dark-green:hover, .kw .slds-button_dark-green:focus, .kw .slds-button--dark-green:hover, .kw .slds-button--dark-green:focus {
        background-color: #036b3d;
        border-color: #036b3d;
        color: white;
    }

    .kw .conver-accord-title{
         cursor: pointer;
     }
     .kw .conver-icon-open{
         display: none;
     }
     .kw .conver-accord-content{
         display: none;
     }
     .kw .conver-accord-title.active .conver-icon-close{
         display: none;
     }
     .kw .conver-accord-title.active .conver-icon-open{
         display: block;
     }
     .kw .conver-accord-title.active .conver-accord-content{
         display: block;
     }

    .kw .user-name-initials{
        background: #eee;
        color: inherit;
        vertical-align: middle;
        line-height: 2rem;
        text-align: center;
    }
    /* -------------drag and droop style start---------------- */
    .dragged {
      position: absolute;
      opacity: 0.9;
      z-index: 2000;
      box-shadow: 0 0 5px rgba(0,0,0,.2);
    }



    li.placeholder {
      position: relative;
      background: #f7f8f9;
      border: 1px dashed #eee;

    }
    li.placeholder:before {
      position: absolute;
      /** Define arrowhead **/
    }
    .kw-drag-handle{
        display: inline-block;
        cursor: move;
        background: #f7f8f9;
        font-size: 16px;
        border-radius: .25rem;
        background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 2px, transparent 2px, transparent 100%);
        background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 2px, transparent 2px, transparent 100%);
        background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 2px, transparent 2px, transparent 100%);
        background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 2px, transparent 2px, transparent 100%);
        -webkit-background-size: 8px 8px;
        -moz-background-size: 8px 8px;
        background-size: 8px 8px;
    }
    .kw-task-item{
        position: relative;
        background: white;
    }
    .kw-task-sort-wrapper .kw-drag-handle{
        position: absolute;
        top: 8px;
        left: -12px;
        display: none;
    }
    .kw-task-item:hover .kw-drag-handle{
        display: block;
    }
    .kw-task-sort-wrapper   li.placeholder {
        min-height: 68px;
    }
    /* -------------drag and droop style end---------------- */

    .kw-ad-grd-overlay{
        background: #fff;
        background: -moz-linear-gradient(right,  rgba(255,255,255,1) 35%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(right,  rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to left,  rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    }
    @media only screen and (max-width: 768px) {
      .kw-ad-grd-overlay{
            background: -moz-linear-gradient(bottom,  rgba(255,255,255,1) 35%, rgba(255,255,255,.2) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(bottom,  rgba(255,255,255,1) 35%,rgba(255,255,255,.2) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to top,  rgba(255,255,255,1) 35%,rgba(255,255,255,.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
        }
    }
    </style>
    <script>
      let url = window.location.href.split(':');
      if(!window.location.href.includes('localhost')){
        if(url[0] == 'http'){
          url[0] = 'https';
          window.location.href = url.join(':');
        }
      }
    </script>

</head>
