<!-- org-setting-dropdown start-->
<div class="slds-dropdown slds-dropdown_left text-normal slds-dropdown_x-small">
    <ul class="slds-dropdown__list">
        <li class="slds-dropdown__item">
            <a href="/org-settings" tabindex="0" class="slds-grid_vertical-align-center">
                General
            </a>
        </li>
        <!-- <li class="slds-dropdown__item">
            <a href="/org-import-data" tabindex="0" class="slds-grid_vertical-align-center">
                Import Data
            </a>
        </li>
        <li class="slds-dropdown__item">
            <a href="/org-settings-timesheet" tabindex="0" class="slds-grid_vertical-align-center">
                Timesheet
            </a>
        </li> -->
        <li class="slds-dropdown__item">
            <a href="/org-settings-userrole" tabindex="0" class="slds-grid_vertical-align-center">
                User Role
            </a>
        </li>
        <li class="slds-dropdown__item">
            <a href="/org-settings-invoice" tabindex="0" class="slds-grid_vertical-align-center">
                Invoice
            </a>
        </li>
        <li class="slds-dropdown__item">
            <a href="/org-settings-expense" tabindex="0" class="slds-grid_vertical-align-center">
                Expense
            </a>
        </li>
        <!-- <li class="slds-dropdown__item">
            <a href="javascript:void(0);" tabindex="0" class="slds-grid_vertical-align-center">
                Email
            </a>
        </li>
        <li class="slds-dropdown__item">
            <a href="/org-settings-tax" tabindex="0" class="slds-grid_vertical-align-center">
                Tax
            </a>
        </li>
        <li class="slds-dropdown__item">
            <a href="javascript:void(0);" tabindex="0" class="slds-grid_vertical-align-center">
                Integration
            </a>
        </li> -->
    </ul>
</div>
<!-- org-setting-dropdown end-->



    
