<script>
	$(document).ready(function(){
		<% if (setting!=undefined) { %>
			let setting=<%- JSON.stringify(setting) %>;
			console.log(setting.expense_category);
			$("#expenseCatLength").text('('+setting.expense_category.length+')')
			setting.expense_category.forEach( function(expCat, index) {
				addExpenseToList(expCat);
			});
		<% } %>
	})
	function addExpenseToList(expenseCat){

		//'<a href="javascript:void(0);" title="category-name" onclick="getEditData(this)">'+expenseCat+'</a>'+
		let expCatLi='<li class="line-top slds-p-vertical_small" category-name="'+expenseCat+'">'+
					    '<div class="slds-grid slds-wrap slds-grid_pull-padded">'+
					        '<div class="slds-size_1-of-1 slds-medium-size_8-of-12 slds-p-horizontal_small sm-bpd-15">'+
					            '<div class="slds-truncate text-size-11 text-dull">'+
					                'Category Name'+
					            '</div>'+
					            '<div class="max-w-200" >'+
												expenseCat+
					            '</div>'+
					        '</div>'+

					        '<div class="slds-size_1-of-1 slds-medium-size_4-of-12 slds-p-horizontal_small">'+
					            '<div class="slds-grid">'+
					                '<div class="slds-has-flexi-truncate">'+

					                '</div>'+
					                '<div class="slds-no-flex slds-p-left_small">'+
					                    '<div class="slds-dropdown-trigger slds-dropdown-trigger_click" onclick="openDropdown(this, event, true);">'+
					                        '<button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" aria-haspopup="true" title="Show More">'+
					                        '<span class="slds-button__icon">'+
					                            '<i class=" fa fa-caret-down" aria-hidden="true"></i>'+
					                        '</span>'+
					                        '<span class="slds-assistive-text">Show More</span>'+
					                        '</button>'+
					                        '<div class="slds-dropdown slds-dropdown_right slds-dropdown_actions" style="">'+
					                            '<ul class="slds-dropdown__list" role="menu">'+

					                                '<li class="slds-dropdown__item" role="presentation">'+
					                                    '<a href="javascript:void(0);" role="deleteItem" tabindex="-1" onclick=\'deleteBeforeConfirm("#globalAlert", "deleteExpCat('+`\`${expenseCat}\``+')","Are you sure you want to delete this expense category?")\'>'+
					                                        '<span class="slds-truncate text-red" title="">'+
					                                            'Delete'+
					                                        '</span>'+
					                                    '</a>'+
					                                '</li>'+
					                            '</ul>'+
					                        '</div>'+
					                    '</div>'+
					                '</div>'+
					            '</div>'+
					        '</div>'+
					    '</div>'+
					'</li>';
			$("#expenseCatList").append(expCatLi);
	}
	/*'<li class="slds-dropdown__item" role="presentation">'+
	    '<a href="javascript:void(0);" role="editItem" tabindex="0" onclick="getEditData(this)">'+
	        '<span class="slds-truncate" title="">'+
	            'Edit'+
	        '</span>'+
	    '</a>'+
	'</li>'+*/
	function addNewExpCat(modalId){
		closeModal(modalId);
		let expCatData = createJSONForFormData('#addExpenseCat');
		if(expCatData.expenseCat.trim()==''){
			showGlobalToast('#globalToast', 'error', 'Category name cannot be blank', 4000);
			return false;
		}
		let expCatList=$("#expenseCatList li[category-name='"+expCatData.expenseCat.toLowerCase()+"']");
		if(expCatList.length>0){
			showGlobalToast('#globalToast', 'error', 'Category with this name already exists', 4000);
			return false;
		}
		addExpenseToList(expCatData.expenseCat);
		saveCompanyExpenseSetting();


	}
	function checkForExpenseCatAssginment(expenseCat,cb){
		showLoader('#globalLoader');
		$.ajax({
		      type: 'POST',
		      url : '/checkExpenseCategoryAssign',
		      contentType: 'application/json',
		      dataType: 'json',
		      data:JSON.stringify({"expenseCat":expenseCat}),
		       success : function(response){
				   if(response.success){
						hideLoader('#globalLoader');
						console.log('response is : '+JSON.stringify(response));
						if(response.result==true){
							cb(true,response.message);
						}else{
							cb(false,response.message);
						}
				   }else{
				   		hideLoader('#globalLoader');
				   		cb(false,response.message);
				   }
		        },
		       error: function(response){
	                console.log('error is : '+JSON.stringify(response));
	                hideLoader('#globalLoader');
	                cb(false,response.responseJSON.message);
		        }
		    });
	}
	/*function getEditData(obj){
		let catName=$(obj).closest('li.slds-p-vertical_small').attr('category-name');
		$("#expenseCatEdit").val(catName);
		$("#expenseCatPrev").val(catName);

		openModal('#modalEditExpCate');

	}
	function editNewExpCat(modalId){
		closeModal(modalId);
		let expCatData = createJSONForFormData('#editExpenseCat');
		$("#expenseCatList li[category-name='"+expCatData.expenseCatPrev+"']").find('.max-w-200 a').text(expCatData.expenseCat);
		$("#expenseCatList li[category-name='"+expCatData.expenseCatPrev+"']").attr('category-name',expCatData.expenseCat);
		saveCompanyExpenseSetting();

	}*/
	function deleteExpCat(catName){
		let expenseCatLi=$('#expenseCatList li[category-name="'+catName+'"]');
		checkForExpenseCatAssginment(catName,(result,message)=>{
			console.log(result);
			if(result==true){
				expenseCatLi.remove();
				saveCompanyExpenseSetting();
			}else{
				showGlobalToast('#globalToast', 'error', message, 4000);
			}
		});

	}
	/*function deleteExpCatEdit(modalId){
		let expenseCat=$("#expenseCatPrev").val();
		checkForExpenseCatAssginment(expenseCat,(result,message)=>{
			console.log(result);
			closeModal(modalId);
			if(result==true){
				$("#expenseCatList li[category-name='"+$("#expenseCatPrev").val()+"']").remove();
				saveCompanyExpenseSetting();
			}else{
				showGlobalToast('#globalToast', 'error', message, 4000);
			}
		});
	}*/
	function saveCompanyExpenseSetting(){
		showLoader('#globalLoader');
		let expCategory=[];
		let expenseLi=$("#expenseCatList li.slds-p-vertical_small[category-name]");
		$.each(expenseLi,function(index,li) {
			expCategory.push($(li).attr('category-name'));
		});
		console.log(expCategory);
		$.ajax({
		      type: 'POST',
		      url : '/editCompanySettingExpense',
		      contentType: 'application/json',
		      dataType: 'json',
		      data:JSON.stringify({"expCategory":expCategory}),
		       success : function(response){
				   if(response.success){
						 $("#expenseCatLength").text(`(${expCategory.length})`);
							setTimeout(function(){
								hideLoader('#globalLoader');
								showGlobalToast('#globalToast', 'success', response.message, 4000);
							},2000);
							if(expCategory.length == 0){
								location.reload();
							}
				   }
		        },
		       error: function(response){
	                console.log('error is : '+JSON.stringify(response));
	                hideLoader('#globalLoader');
	                showGlobalToast('#globalToast', 'error', response.responseJSON.message, 4000);
		        }
	    	});

	}
</script>
