<script>
	$(document).ready(function(){
		<% if (setting!=undefined) { %>
			let setting=<%- JSON.stringify(setting) %>;
			console.log(setting.user_role);
			$("#userRoleLength").text('('+setting.user_role.length+')')
			setting.user_role.forEach( function(userRole, index) {
				addUserRoleToList(userRole);
			});
		<% } %>

		
	})
	function addUserRoleToList(userRole){
		let userRoleLi='<li class="line-top slds-p-vertical_small" user-role-li role-name="'+userRole.toLowerCase()+'">'+
					    '<div class="slds-grid slds-wrap slds-grid_pull-padded">'+
					        '<div class="slds-size_1-of-1 slds-medium-size_8-of-12 slds-p-horizontal_small sm-bpd-15">'+
					            '<div class="slds-truncate text-size-11 text-dull">'+
					                'Role Name'+
					            '</div>'+
					            '<div class="max-w-200" >'+
					                '<a href="javascript:void(0);" title="role-name" onclick="getEditData(this)">'+userRole+'</a>'+
					            '</div>'+
					        '</div>'+
					        
					        '<div class="slds-size_1-of-1 slds-medium-size_4-of-12 slds-p-horizontal_small">'+
					            '<div class="slds-grid">'+
					                '<div class="slds-has-flexi-truncate">'+
					                    
					                '</div>'+
					                '<div class="slds-no-flex slds-p-left_small">'+
					                    '<div class="slds-dropdown-trigger slds-dropdown-trigger_click" onclick="openDropdown(this, event, true);">'+
					                        '<button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" aria-haspopup="true" title="Show More">'+
					                        '<span class="slds-button__icon">'+
					                            '<i class=" fa fa-caret-down" aria-hidden="true"></i>'+
					                        '</span>'+
					                        '<span class="slds-assistive-text">Show More</span>'+
					                        '</button>'+
					                        '<div class="slds-dropdown slds-dropdown_right slds-dropdown_actions" style="">'+
					                            '<ul class="slds-dropdown__list" role="menu">'+
					                                
					                                '<li class="slds-dropdown__item" role="presentation">'+
					                                    '<a href="javascript:void(0);" role="deleteItem" tabindex="-1"  onclick=\'deleteBeforeConfirm("#globalAlert", "deleteUserRole('+`\`${userRole.toLowerCase()}\``+')")\'>'+
					                                        '<span class="slds-truncate text-red" title="">'+
					                                            'Delete'+
					                                        '</span>'+
					                                    '</a>'+
					                                '</li>'+
					                            '</ul>'+
					                        '</div>'+
					                    '</div>'+
					                '</div>'+
					            '</div>'+
					        '</div>'+
					    '</div>'+ 
					'</li>';
			$("#userRoleList").append(userRoleLi);
	}
	/*'<li class="slds-dropdown__item" role="presentation">'+
        '<a href="javascript:void(0);" role="editItem" tabindex="0" onclick="getEditData(this)">'+
            '<span class="slds-truncate" title="">'+
                'Edit'+
            '</span>'+
        '</a>'+
    '</li>'+*/
	function addNewUserRole(modalId){
		closeModal(modalId); 
		let userRoleData = createJSONForFormData('#addUserRole');
		if(userRoleData.roleName.trim()==''){
			showGlobalToast('#globalToast', 'error', 'Category name cannot be blank', 4000);
			return false;
		}
		let userRoleList=$("#userRoleList li[role-name='"+userRoleData.roleName.toLowerCase()+"']");
		if(userRoleList.length>0){
			showGlobalToast('#globalToast', 'error', 'User role with this name already exists', 4000);
			return false;
		}
		addUserRoleToList(userRoleData.roleName);
		saveCompanyUserRole();
		

	}
	/*function getEditData(obj){
		let roleName=$(obj).closest('li.slds-p-vertical_small').attr('role-name');
		$("#roleNameEdit").val(roleName);
		$("#userRolePrev").val(roleName);
		openModal('#modalEditUserRole');

	}
	function editNewUserRole(modalId){
		closeModal(modalId); 
		let userRoleData = createJSONForFormData('#editUserRole');
		$("#userRoleList li[role-name='"+userRoleData.userRolePrev+"']").find('.max-w-200 a').text(userRoleData.roleNameEdit);
		$("#userRoleList li[role-name='"+userRoleData.userRolePrev+"']").attr('role-name',userRoleData.roleNameEdit);
		saveCompanyUserRole();

	}*/
	function checkForAssignment(roleName,cb){
		showLoader('#globalLoader');
		$.ajax({
		      type: 'POST',
		      url : '/checkUserRoleAssignment', 
		      contentType: 'application/json',
		      dataType: 'json',
		      data:JSON.stringify({"role":roleName}),
		       success : function(response){
				   if(response.success){
						hideLoader('#globalLoader');
						console.log('response is : '+JSON.stringify(response));	
						if(response.result==true){
							cb(true,response.message);
						}else{
							cb(false,response.message);
						}
				   }else{
				   		hideLoader('#globalLoader');
				   		cb(false,response.message);
				   }
		        },
		       error: function(response){
	                console.log('error is : '+JSON.stringify(response));
	                hideLoader('#globalLoader');
	                cb(false,response.responseJSON.message);
		        }
		    });
	}
	function deleteUserRole(role){
		let li=$('#userRoleList li[role-name="'+role+'"]');
		checkForAssignment(role,(result,message)=>{
			console.log(result);
			if(result==true){
				console.log(li);
				li.remove();
				saveCompanyUserRole();
			}else{
				showGlobalToast('#globalToast', 'error', message, 4000);
			}
		});
	}
	/*function deleteUserRoleEdit(modalId){
		let roleName=$("#userRolePrev").val();
		checkForAssignment(roleName,(result,message)=>{
			console.log(result);
			closeModal(modalId); 
			if(result==true){
				$("#userRoleList li[role-name='"+$("#userRolePrev").val()+"']").remove();
				saveCompanyUserRole();
			}else{
				showGlobalToast('#globalToast', 'error', message, 4000);
			}
		});
	}*/
	function saveCompanyUserRole(){
		showLoader('#globalLoader');
		let userRole=[];
		let roleLi=$("#userRoleList li.slds-p-vertical_small a[title=role-name]");
		$.each(roleLi,function(index,li) {
			userRole.push($(li).text());
		});
		console.log(userRole);
		$.ajax({
		      type: 'POST',
		      url : '/editCompanySettingUserRole', 
		      contentType: 'application/json',
		      dataType: 'json',
		      data:JSON.stringify({"userRole":userRole}),
		       success : function(response){
				   if(response.success){
					   setTimeout(function(){
						   hideLoader('#globalLoader');
						   showGlobalToast('#globalToast', 'success', response.message, 4000);
							},2000); 
				   }
		        },
		       error: function(response){
	                console.log('error is : '+JSON.stringify(response));
	                hideLoader('#globalLoader');
	                showGlobalToast('#globalToast', 'error', response.responseJSON.message, 4000);
		        }
		    });

	}
</script>