.bg-dull{
    background: $bgDull;
}
.bg-dark-blue{
    background: $txtDarkBlue;
}
.bg-orange{
    background: $bgOrange;
}

.bg-green{
    background: $txtGreen;
}

.bg-red{
    background: $txtSFred;
}

.bg-white{
    background: $white;
}

.bg-none{
    background: none;
}