<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">

<% include ../layouts/head %>

    <body class="kw">
        <main class="tpd-60 bpd-100">
            <div>
                <div class=" slds-p-around_small">
                    <div class="max-w-450 mr-0-auto">
                        <div class="text-center vpd-20">
                            <a href="/">
                                <img src="img/krow-logo.png" alt="">
                            </a>
                        </div>

                        <div class="slds-card slds-p-around_large">
                            <!-- <div class="slds-m-bottom_medium">
                            <div>
                                <h1 class="slds-text-heading_medium text-uppercase">
                                    <i class="fas fa-lock text-blue"></i> Login
                                </h1>
                            </div>
                            <div class="slds-form-element slds-form-element_edit">
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__static slds-border_bottom"><%= domain %></span>
                                    <input type="hidden" id="domain" name="domain" value="<%= domain %>" />
                                    <a href="/"><i class="fa fa-pen"></i></a>
                                </div>
                            </div>
                        </div> -->
                        <form id="user-signup-form">
                            <div>
                                <div class="slds-form-element ">
                                    <div class="slds-form-element__control slds-m-bottom_medium">
                                        <input type="text" class="slds-input" readonly getFormData value="<%= domain %>" name="domain" id="company" />
                                    </div>
                                </div>
                                <div class="slds-form-element ">
                                    <div class="slds-form-element slds-m-bottom_medium">
                                        <label class="slds-form-element__label ">
                                            Company Name
                                            <abbr class="slds-required" title="required">*</abbr>
                                        </label>
                                        <div class="slds-form-element__control">
                                            <input type="text" class="slds-input" required getFormData name="orgName" id="company-name" />
                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element ">
                                    <div class="slds-form-element slds-m-bottom_medium">
                                        <label class="slds-form-element__label ">
                                            Company Email
                                            <abbr class="slds-required" title="required">*</abbr>
                                        </label>
                                        <div class="slds-form-element__control">
                                                <input type="email" class="slds-input" required getFormData placeholder="" name="adminEmail" id="email" />
                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element ">
                                    <div class="slds-form-element slds-m-bottom_medium">
                                        <label class="slds-form-element__label ">
                                            Password
                                            <abbr class="slds-required" title="required">*</abbr>
                                        </label>
                                        <div class="slds-form-element__control">
                                                <input type="password" getFormData required class="slds-input" placeholder="" name="adminPass" id="password" />
                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element ">
                                    <div class="slds-form-element slds-m-bottom_medium">
                                        <label class="slds-form-element__label ">
                                            Confirm Password
                                            <abbr class="slds-required" title="required">*</abbr>
                                        </label>
                                        <div class="slds-form-element__control">
                                                <input type="password" getFormData required class="slds-input" placeholder="" name="con_password" id="con-password" />
                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-m-bottom_medium">
                                    <button class="slds-button slds-button_brand w-full" type="button" onclick="userSignup()" id="validateAndSignup">
                                        Signup
                                    </button>
                                </div>
                                <div class="slds-grid">
                                    <div class="slds-has-flexi-truncate">
                                        <div class="slds-form-element__control">

                                        </div>
                                    </div>
                                    <div class="slds-no-flex">
                                        <a href="/domain">Already Registered?</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <% include ../layouts/footer %>
        <% include ../layouts/scripts %>
        <% include ../layouts/signup-script %>
        <script>
        $('#con-password').keydown(function(event){
            var keyCode = (event.keyCode ? event.keyCode : event.which);
            if (keyCode == 13) {
                $('#validateAndSignup').click();
            }
        });
        </script>
    </body>

</html>
