<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<% include ../layouts/head %>
<body class="kw">
    <%- include('../layouts/nav', {user:user}); %>
    <%- include('../layouts/sideNav',{user:user}); %>
    <main class="main-body-space tpd-60 bpd-100">
        <div class="slds-p-around_small">
            <div class="slds-card slds-p-around_small slds-m-bottom_medium">
                <div>
                    <div class="slds-p-around_small">
                        <div class="text-center text-size-18 slds-m-bottom_large">
                            <h1 >Welcome to Krow Software</h1>            
                        </div>
                        <div>
                            <div class="text-size-14 text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget placerat turpis, in vehicula elit. Pellentesque id pharetra ligula, sit amet interdum erat. Integer id lectus pulvinar, maximus urna quis, accumsan lacus. Etiam ac quam magna. Fusce ex lectus, pretium id commodo sit amet, egestas mattis lectus. Vestibulum id libero fringilla magna tincidunt egestas. Nam lacinia sollicitudin ante sed auctor. Suspendisse potenti.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget placerat turpis, in vehicula elit. Pellentesque id pharetra ligula, sit amet interdum erat. Integer id lectus pulvinar, maximus urna quis, accumsan lacus. Etiam ac quam magna. Fusce ex lectus, pretium id commodo sit amet, egestas mattis lectus. Vestibulum id libero fringilla magna tincidunt egestas. Nam lacinia sollicitudin ante sed auctor. Suspendisse potenti.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget placerat turpis, in vehicula elit. Pellentesque id pharetra ligula, sit amet interdum erat. Integer id lectus pulvinar, maximus urna quis, accumsan lacus. Etiam ac quam magna. Fusce ex lectus, pretium id commodo sit amet, egestas mattis lectus. Vestibulum id libero fringilla magna tincidunt egestas. Nam lacinia sollicitudin ante sed auctor. Suspendisse potenti.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ../layouts/footer %>
         <% include ../layouts/scripts %>
    </main>
</body>
</html>