<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">

<% include ../layouts/head %>

<body class="kw">
    <main class="tpd-60 bpd-100">
        <div >
            <div class=" slds-p-around_small">
                <div class="max-w-450 mr-0-auto">
                    <div class="text-center vpd-20">
                        <a href="/"><img src="img/krow-logo.png" alt=""></a>
                    </div>

                    <div class="slds-card slds-p-around_large">
                        <div class="slds-m-bottom_medium">
                            <div>
                                <h1 class="slds-text-heading_medium text-uppercase">
                                    <i class="fas fa-lock text-blue"></i> Login
                                </h1>
                            </div>
                            <div class="slds-form-element slds-form-element_edit">
                                <div class="slds-form-element__control">
                                    <span class="slds-form-element__static slds-border_bottom"><%= domain %></span>
                                    <input type="hidden" id="domain" name="domain" value="<%= domain %>" />
                                    <a href="/"><i class="fa fa-pen"></i></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slds-form-element ">
                                <div class="slds-form-element__control slds-m-bottom_medium">
                                    <input type="email" class="slds-input" placeholder="email" name="email" id="email"/>
                                    <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" id="err-msg-email">

                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <div class="slds-form-element__control slds-m-bottom_medium">
                                    <input type="password" class="slds-input" placeholder="password" name="password" id="password"/>
                                    <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                    </div>
                                </div>
                            </div>
                            <div class="slds-m-bottom_medium">
                                <button class="slds-button slds-button_brand w-full" onclick="login()">
                                    Login
                                </button>
                            </div>
                            <div class="slds-grid">
                                <div class="slds-has-flexi-truncate">
                                    <div class="slds-form-element__control">
                                        <span class="slds-checkbox">
                                            <input type="checkbox" name="remember_me" id="RememberLogin" value="RememberLogin" />
                                            <label class="slds-checkbox__label" for="RememberLogin">
                                                <span class="slds-checkbox_faux"></span>
                                                <span class="slds-form-element__label">Remember Me</span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <div class="slds-no-flex">
                                    <a href="/reset-password?domain=<%= domain %>">Forgot Your Password?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <% include ../layouts/footer %>
    <% include ../layouts/scripts %>
    <% include ../layouts/login-script %>
    <script>
    $(document).ready(function () {
        let url = new URL(window.location.href);
        let token = getURLParameter("token");
        if(token != undefined && token != null && token != '') {
            let isAuthenticate = <%= isAuthenticate %>;
            console.log(isAuthenticate);
            if(isAuthenticate) {
                showGlobalToast('#globalToast', 'success', 'Account has been successfully activated.', 4000, true);
            } else {
                showGlobalToast('#globalToast', 'error', 'Invalid user or account already has been approved.', 4000, true);
            }
        }
    });
    </script>
</body>

</html>
