<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">

<% include ../layouts/head %>

<body class="kw">

    <% include ../layouts/nav %>
    <% include ../layouts/sideNav %>
    <main class="main-body-space tpd-60 bpd-100">
        <div>
            <div class="slds-p-around_small">

                <div class="">

                        <!-- header start end -->
                        <div class="slds-card slds-m-bottom_medium">
                            <div class="slds-grid slds-wrap slds-p-around_small">
                                <div class="slds-size_1-of-1 slds-medium-size_1-of-2">
                                    <div class="slds-grid">
                                        <div class="slds-no-flex slds-p-right_x-small">
                                            <span class="slds-icon_container slds-icon-custom-custom88">
                                                <i class="fa fa-receipt text-size-21 text-white slds-icon"></i>
                                            </span>
                                        </div>
                                        <div class="slds-has-flexi-truncate">
                                        <div class="slds-text-body_small text-height-normal">
                                            Company Settings
                                        </div>
                                        <h1 class="slds-page-header__title slds-p-right_x-small text-height-normal">
                                            <div class="slds-dropdown-trigger slds-dropdown-trigger_click cursor-pointer" aria-haspopup="true" title="" onclick="openDropdown(this, event, true);">
                                                <div class="slds-grid slds-has-flexi-truncate slds-grid_vertical-align-center">
                                                    <span class="slds-truncate" title="">Invoice</span>
                                                    <i class="fa fa-caret-down lpd-5"></i>
                                                </div>
                                                <% include ../layouts/org-settings-dropdown %>
                                            </div>
                                        </h1>
                                    </div>
                                    </div>
                                </div>

                                <!-- <div class="slds-size_1-of-1 slds-medium-size_1-of-2">
                                    <div class="text-right sm-tpd-15">
                                        <button class="slds-button slds-button_brand slds-align-top" onclick="saveInvoiceSetting()">
                                            Save Changes
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                            <div class="">
                                <ul class="slds-tabs_default__nav radius-4 scroll-x-auto bpd-2 text-size-14">
                                    <!-- <li class="slds-tabs_default__item slds-is-active" onclick="openTab(this, 'org-sett-general')">
                                        <a class="slds-tabs_default__link" href="javascript:void(0);" tabindex="0">
                                            General
                                        </a>
                                    </li>
                                    <li class="slds-tabs_default__item" onclick="openTab(this, 'org-sett-user-role')">
                                        <a class="slds-tabs_default__link" href="javascript:void(0);" tabindex="-1">
                                            User Role
                                        </a>
                                    </li>
                                    <li class="slds-tabs_default__item" onclick="openTab(this, 'org-sett-expense')">
                                        <a class="slds-tabs_default__link" href="javascript:void(0);" tabindex="-1">
                                            Expenses
                                        </a>
                                    </li> -->
                                    <li class="slds-tabs_default__item slds-is-active" onclick="openTab(this, 'org-sett-invoice')">
                                        <a class="slds-tabs_default__link" href="javascript:void(0);" tabindex="-1">
                                            Invoice Note
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- header end -->



                        <!-- body start -->

                        <div class="slds-grid slds-wrap slds-grid_pull-padded" target-tab="org-sett-invoice">
                            <div class="slds-size_1-of-1 slds-medium-size_1-of-1 slds-large-size_6-of-12 slds-p-horizontal_small">
                                <div class="slds-card slds-p-around_medium sm-pd-10 slds-m-bottom_large">
                                    <form id="invoiceSettingForm" action="fileupload" method="post" enctype="multipart/form-data">
                                      <div class="slds-grid slds-m-bottom_medium">

                                        <div class="slds-no-flex slds-p-right_medium slds-p-vertical_large">
                                            <img alt="Company Logo" id="companyLogoImg" src="/getCompanyLogo" title="Company logo" width="100px" onClick="renderImage()">
                                        </div>

                                        <div class="slds-form-element slds-p-horizontal_small slds-p-vertical_large">
                                            <span class="slds-form-element__label" id="">&nbsp;
                                            <div class="slds-form-element__control">
                                                <div class="slds-file-selector slds-file-selector_files">
                                                    <div class="slds-file-selector__dropzone">
                                                        <input type="file" class="slds-file-selector__input slds-assistive-text" accept="image/png" aria-labelledby="file-selector-primary-label file-selector-secondary-label" id="uploadedImageFile" name="uploadedImageFile" onchange="uploadCompanyLogo(this);">
                                                        <label class="slds-file-selector__body" for="uploadedImageFile" id="file-selector-secondary-label">
                                                            <span class="slds-file-selector__button slds-button slds-button_neutral">
                                                                <i class="fa fa-upload rpd-10"></i>
                                                                Add Logo For Invoice
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                        <div>Recommended to use 200*200 pixel images</div>
                                        </div>
                                    </div>
                                    <!-- <div class="slds-p-vertical_small">
                                    </div> -->
                                    <div>Image may take time to upload and reflect changes.</div>
                                    <div class="text-right tpd-15 ">
                                        <button class="slds-button slds-button_brand slds-align-top" type="submit" disabled img-upload>
                                            Upload File
                                        </button>
                                    </div>
                                </form>
                              </div>
                            </div>
                            <div class="slds-size_1-of-1 slds-medium-size_1-of-1 slds-large-size_6-of-12 slds-p-horizontal_small">
                                <div class="slds-card slds-p-around_medium sm-pd-10 slds-m-bottom_large" data-modified>
                                    <div class="slds-p-bottom_x-small">
                                        Default Invoice Notes
                                    </div>
                                    <div class="slds-form-element slds-m-bottom_medium">
                                        <div class="slds-form-element__control">
                                            <textarea class="slds-textarea" placeholder="Note" rows="5" id="defaultInvoiceNote" name="defaultInvoiceNote" getFormData></textarea>
                                        </div>
                                    </div>
                                    <div class="text-right tpd-15">
                                        <button class="slds-button slds-button_brand slds-align-top" onclick="saveInvoiceSetting()" disabled save-btn>
                                            Save Changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="slds-size_1-of-1 slds-medium-size_1-of-1 slds-large-size_6-of-12 slds-p-horizontal_small">
                                <div class="slds-card slds-p-around_medium sm-pd-10 slds-m-bottom_large">
                                    <div class="">
                                        <div class="slds-p-bottom_x-small line-bottom">
                                            <div class="text-uppercase ">
                                                Billing Address
                                            </div>
                                        </div>
                                        <div class="slds-p-top_small">
                                            <div class="slds-form-element slds-m-bottom_medium">
                                                <label class="slds-form-element__label">Street</label>
                                                <div class="slds-form-element__control">
                                                    <input type="text" class="slds-input" placeholder="">
                                                    <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-grid slds-gutters slds-wrap">
                                                <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                    <div class="slds-form-element slds-m-bottom_medium">
                                                        <label class="slds-form-element__label">City</label>
                                                        <div class="slds-form-element__control">
                                                            <input type="text" class="slds-input" placeholder="">
                                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                    <div class="slds-form-element slds-m-bottom_medium">
                                                        <label class="slds-form-element__label">State</label>
                                                        <div class="slds-form-element__control">
                                                            <input type="text" class="slds-input" placeholder="">
                                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-grid slds-gutters slds-wrap">
                                                <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                    <div class="slds-form-element slds-m-bottom_medium">
                                                        <label class="slds-form-element__label">Country</label>
                                                        <div class="slds-form-element__control">
                                                            <input type="text" class="slds-input" placeholder="">
                                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                    <div class="slds-form-element slds-m-bottom_medium">
                                                        <label class="slds-form-element__label">ZIP</label>
                                                        <div class="slds-form-element__control">
                                                            <input type="text" class="slds-input" placeholder="">
                                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div> -->

                        </div>
                       </form>


                        <!-- body end -->












                </div>
            </div>
        </div>


        <% include ../layouts/footer %>
    </main>




    <% include ../layouts/scripts %>
    <% include ../layouts/setting-script-invoice %>

</body>

</html>
