<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">

<% include ../layouts/head %>

<body class="kw">
    <main class="tpd-60 bpd-100">
        <div >
            <div class=" slds-p-around_small">
                <div class="max-w-500 mr-0-auto">
                    <div class="text-center vpd-20">
                        <a href="/"><img src="/img/krow-logo.png" alt=""></a>
                    </div>
                    <div class="slds-card slds-p-around_large">
                        <div class="slds-m-bottom_medium">
                            <div class="line-bottom slds-p-bottom_small">
                                <h1 class="slds-text-heading_medium">
                                    <i class="fas fa-key text-blue"></i> Reset Your Password
                                </h1>
                            </div>
                           
                        </div>
                        <div>
                            <p class="slds-p-bottom_large">
                                Please enter the email address for your account. A verification code will be sent to you. Once you have received the verification code, you will be able to choose a new password for your account.
                            </p>
                            <div >
                                <div class="slds-grid slds-wrap slds-grid_pull-padded">
                                    <div class="slds-size_1-of-1 slds-medium-size_8-of-12 slds-p-horizontal_small">
                                        <div class="slds-form-element slds-m-bottom_medium">
                                            <div class="slds-form-element__control ">
                                                <input type="email" class="slds-input" placeholder="Your Register Email" id="email"/>
                                                <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" i>
                                                    
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="slds-form-element slds-m-bottom_medium">
                                            <div class="slds-form-element__control ">
                                                <input type="hidden" class="slds-input" id="domain" value="<%= domain %>"/>
                                                <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-size_1-of-1 slds-medium-size_4-of-12 slds-p-horizontal_small">
                                        <div class="slds-m-bottom_medium">
                                           <button class="slds-button slds-button_brand w-full" onClick="resetPassword()">
                                                Reset Password
                                            </button> 
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                            <div class="line-top slds-p-top_x-small">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-size_1-of-1 slds-medium-size_1-of-2 sm-bpd-15">
                                        <span>Back To <a href="/login?domain=<%= domain %>">Login</a>.</span>
                                    </div>
                                    <div class="slds-size_1-of-1 slds-medium-size_1-of-2">
                                        <div class="text-right sm-text-left">
                                            <span>For more help <a href="">Contact Us</a>.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
    <% include ../layouts/footer %>
    <% include ../layouts/scripts %>
    <% include ../layouts/login-script %>

</body>

</html>